@import "bootstrap/bootstrap";
@import "modules/status";
@import "modules/button";
@import "modules/nav";
@import "pages/users";

$btn-font-weight: 300;
$font-family-sans-serif: "Roboto", Helvetica, Arial, sans-serif;

body, label, .checkbox label {
  font-weight: 300;
}

body {
  background-color: rgb(240, 240, 240);
  font-family: 'Roboto', sans-serif;
}

.page-header {
  text-align: center;
  margin-bottom: 1em;
  padding-bottom: 0.5em;
  border-bottom: 1px solid #dddddd;
}





// Form to publish new status
.status-post {
  border: 1px solid #e3e3e3;
  background: white;
  margin-bottom: 3em;
  padding: 0;

  textarea {
    border: 0;

    &:focus {
      box-shadow: none;
    }
  }

  .status-post-submit {
    border-top: 1px solid #e9e9e9;
    padding: .5em 1em;
    margin-bottom: 0;
    overflow: hidden;
    background: #FDFDFC;

    .btn {
      float: right;
      background: rgb(46, 177, 228);
      color: white;
      text-transform: uppercase;
      letter-spacing: 0.06em;
      font-family: "Helvetica Neue Light", "Lucida Grande", "Calibri", "Arial", sans-serif;

      &:hover {
        background: rgb(39, 144, 177);
      }
    }
  }
}




